/*@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";*/

#body {
    background-image: url("https://images.unsplash.com/45/tkLOe7nnQ7mnMsiuijBy_hm.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=8f2acd64afbbc566df463b85ed6651f3&auto=format&fit=crop&w=2553&q=80");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    /*filter: Contrast(0.5);*/

    filter: blur(40%);

    z-index: -1;

}

.navbar-right {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.card-vote {
    float: right;
    margin-right: 6px;;
    margin-left: auto;

    display: inline;

    /*padding-left: 5px;*/

}

/*.fa-heart {
    font-size: 4px;
}*/;

    .navbar-right li {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none
    }

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.cardDescBorder {
  content: "";
  /*display: block;*/
  /*border-top: 1px solid #ccc;*/1
  margin: 0px;
  float: left;
  padding-left: 1.4em;
  font-size: 1.1em;
}

.navbar-right {
    margin-right: 100px!important;
}

.card-vote {
    color: #BD4255;
}

#cardView {
    /*display: inline;*/
    margin-top: 2em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 0px;

    width: 24%;
   

    margin-right: 10px;

            /*border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px*/
}

.cardDesc {
  padding: 3px;
}

.form-control {
    width: 60%;

    /*display: inline-block;
    vertical-align: middle;

    width: 60%;*/
    /*.input-group-addon, .input-group-btn, 
    .form-control {
        width: auto !important;                                                    
    }*/
}

form {
    margin: 10px;

    margin-top: 5em;

}

#whateveryouwant {
    width: 60%;
}

.navbar-logo {
    margin-left: 4em;

    max-height: 18%;
    max-width: 18%;
}

#nav {
    display: inline;
}

