/*@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";*/

.row-bordered:after {
  content: "";
  display: block;
  border-bottom: 1px solid #ccc;
  margin: 0 15px;
}

.cardDescBorder {
  content: "";
  /*display: block;*/
  border-top: 1px solid #ccc;
  margin: 0px;
}

#cardView {
    /*display: inline;*/
    margin-top: 2em;
    border: 1px solid rgba(0, 0, 0, 0.125);
    text-align: center;
    padding: 0px;

    width: 22%;
   

    margin-right: 10px;

            /*border-radius: 25px;
    background: #73AD21;
    padding: 20px;
    width: 200px;
    height: 150px*/
}

.cardDesc {
  padding: 3px;
}

.form-control {
    width: 60%;

    /*display: inline-block;
    vertical-align: middle;

    width: 60%;*/
    /*.input-group-addon, .input-group-btn, 
    .form-control {
        width: auto !important;                                                    
    }*/
}

form {
    margin: 10px;

    margin-top: 5em;

}

#whateveryouwant {
    width: 60%;
}

